header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 20px;
}
.links .colocations,.links .homes{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 12px;
    font-size:0.875rem;
    font-weight: 400;
    cursor: pointer;
}
.links .colocations{
    color: black;
    background-color: hsl(var(--background));
    border: 1px solid hsl(var(--border));
}
.links .icon{
    width: 16px;
}
.links .colocations:hover{
    background-color: hsl(var(--primary));
    color: white;
}
.links .homes:hover{
    background-color: hsl(6deg 100% 72% / 78%);
}
.links .homes{
    color: white;
    background-color: hsl(var(--primary));
}
.info-student{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 45%;
}
.info-student *{
   margin: 0;
}
.info-student h1{
    font-size: 1.8rem;
    font-weight: 700;
}
.info-student p{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
}
.data-student{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.student-dashboard{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(var(--background));
    border-radius: 16px;
    width: 20%;
    border: 1px solid hsl(var(--border));
    align-items: center;
    height: 70px;
}
.card .content{
    display: flex;
    flex-direction: column;
    gap: -2px;
    width: 80%;
}
.card *{
    margin: 0;
}
.card .content .title{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
}
.card .content .number{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(var(--foreground));
}
.card .icon{
    width: 20px;
    padding: 8px;
    height: 20px;
    background-color: hsl(var(--secondary));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--primary));
}
.bar{
    width: 450px !important;
    border-radius: 15px;
    height: 30px !important;
    align-items: center;
    list-style: none;
    box-shadow: none !important;
    background-color: hsl(0, 0%, 91%) !important;
    color: hsl(var(--muted-foreground)) !important;
    font-family: inherit !important;
    display: block !important;
}
.tabs-nav,.css-jhczcq-MuiTabs-root,.css-jhczcq-MuiTabs-root{
    width: 450px !important;
    border-radius: 15px;
    height: 30px !important;
    align-items: center;
    list-style: none;
    box-shadow: none !important;
    background-color: hsl(0, 0%, 91%) !important;
    color: hsl(var(--muted-foreground)) !important;
    font-family: inherit !important;
    padding: 4px;
    min-height: 30px !important;
}

.MuiTabs-root button{
    font-size: 13px !important;
    font-weight: 500 !important;
    padding: 0px 20px !important;
    height: fit-content;
    text-transform: none !important;
    border-radius: 48px !important;
    z-index: 44;

}
.MuiTabs-root span{
    display: none !important;
}
.MuiTabs-list{
    width: 100% !important;
    height: 30px !important;
    align-items: center !important;
}
.recent-activity{
    display: flex;
    gap: 20px;
    width: 100% !important;
    padding: 0;
}
/* Recent activity card */
.css-19kzrtu{
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 30px !important;
}
.css-12dv9jb{
    width: 50% !important;
    height: 400px !important;
    border-radius: 40px !important;

}
