/* ===========================
    Header Section
    =========================== */
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

/* Links Section */
.links {
     display: flex;
     gap: 20px;
}

.links .colocations,
.links .homes {
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;
     padding: 8px 20px;
     border-radius: 12px;
     font-size: 0.875rem;
     font-weight: 400;
     cursor: pointer;
}

.links .colocations {
     color: black;
     background-color: hsl(var(--background));
     border: 1px solid hsl(var(--border));
}

.links .icon {
     width: 16px;
}

.links .colocations:hover {
     background-color: hsl(var(--primary));
     color: white;
}

.links .homes:hover {
     background-color: hsl(6deg 100% 72% / 78%);
}

.links .homes {
     color: white;
     background-color: hsl(var(--primary));
}

/* ===========================
    Student Info Section
    =========================== */
.info-student {
     display: flex;
     flex-direction: column;
     gap: 2px;
     width: 45%;
}

.info-student * {
     margin: 0;
}

.info-student h1 {
     font-size: 1.8rem;
     font-weight: 700;
}

.info-student p {
     font-size: 1rem;
     font-weight: 400;
     color: hsl(var(--muted-foreground));
}

/* ===========================
    Dashboard Section
    =========================== */
.data-student {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.student-dashboard {
     display: flex;
     flex-direction: column;
     gap: 40px;
}

/* ===========================
    Card Section
    =========================== */
.card {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-color: hsl(var(--background));
     border-radius: 16px;
     width: 20%;
     border: 1px solid hsl(var(--border));
     align-items: center;
     height: 70px;
}

.card .content {
     display: flex;
     flex-direction: column;
     gap: -2px;
     width: 80%;
}

.card * {
     margin: 0;
}

.card .content .title {
     font-size: 1rem;
     font-weight: 400;
     color: hsl(var(--muted-foreground));
}

.card .content .number {
     font-size: 1.5rem;
     font-weight: 700;
     color: hsl(var(--foreground));
}

.card .icon {
     width: 20px;
     padding: 8px;
     height: 20px;
     background-color: hsl(var(--secondary));
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: hsl(var(--primary));
}

/* ===========================
    Tabs Section
    =========================== */
.bar {
     width: 450px !important;
     border-radius: 15px;
     height: 30px !important;
     align-items: center;
     list-style: none;
     box-shadow: none !important;
     background-color: hsl(0, 0%, 91%) !important;
     color: hsl(var(--muted-foreground)) !important;
     font-family: inherit !important;
     display: block !important;
}

.tabs-nav,
.css-jhczcq-MuiTabs-root,
.css-jhczcq-MuiTabs-root {
     width: 450px !important;
     border-radius: 15px;
     height: 30px !important;
     align-items: center;
     list-style: none;
     box-shadow: none !important;
     background-color: hsl(0, 0%, 91%) !important;
     color: hsl(var(--muted-foreground)) !important;
     font-family: inherit !important;
     padding: 4px;
     min-height: 30px !important;
}

.MuiTabs-root button {
     font-size: 13px !important;
     font-weight: 500 !important;
     padding: 0px 20px !important;
     height: fit-content;
     text-transform: none !important;
     border-radius: 48px !important;
     z-index: 44;
}

.MuiTabs-root span {
     display: none !important;
}

.MuiTabs-list {
     width: 100% !important;
     height: 30px !important;
     align-items: center !important;
}

/* ===========================
    Recent Activity Section
    =========================== */
.recent-activity {
     display: flex;
     gap: 20px;
     width: 100% !important;
     padding: 0;
}

/* Recent Activity Card */
.css-19kzrtu {
     padding-right: 0 !important;
     padding-left: 0 !important;
     padding-top: 30px !important;
}

.css-12dv9jb {
     width: 50% !important;
     height: 400px !important;
}

.css-1re43rx-MuiAvatar-root {
     font-size: 14px !important;
     background-color: hsl(210 40% 96.1%) !important;
     color: black !important;
     font-weight: 500 !important;
}

/* ===========================
    Button Section
    =========================== */
.btn {
     background-color: white;
     border-radius: 14px !important;
     padding: 6px 20px !important;
     background-color: hsl(var(--background)) !important;
     border: 1px solid hsl(var(--border)) !important;
     color: hsl(var(--foreground)) !important;
     font-size: 1rem !important;
     font-weight: 500 !important;
     text-transform: capitalize !important;
     cursor: pointer !important;
}

.btn:hover {
     background-color: hsl(var(--primary)) !important;
     color: white !important;
}

/* ===========================
    Properties Section
    =========================== */
.css-1q0hex5-MuiPaper-root-MuiCard-root {
     padding: 10px !important;
}

.all-prop {
     margin-top: 10px !important;
}

.recent-properties .content {
     width: 100%;
     display: flex;
     gap: 20px;
     align-items: start;
}

.recent-properties .content .image {
     width: 60px !important;
     height: 60px !important;
     border-radius: 12px;
     background-color: hsl(var(--background));
     border: 1px solid hsl(var(--border));
}

.recent-properties .content .image img {
     width: 100% !important;
     height: 100% !important;
     border-radius: 12px;
}

.recent-properties .content .info {
     display: flex;
     flex-direction: column;
     gap: 1px;
     width: calc(100% - 60px);
}

.recent-properties .content .info .title {
     font-weight: 500;
     text-transform: capitalize;
}

.recent-properties .content .info .location {
     font-size: 0.875rem;
     font-weight: 400;
     color: hsl(var(--muted-foreground));
     display: flex;
     align-items: center;
}

.recent-properties .content .info .price-type {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 3px;
}

.recent-properties .content .info .price-type .price {
     font-size: 0.9rem;
     font-weight: 400;
     color: hsl(var(--primary));
}

.recent-properties .content .info .price-type .type {
     font-size: 0.7rem;
     font-weight: 700;
     background-color: hsl(var(--background));
     padding: 4px 10px;
     border-radius: 15px;
     border: 1px solid hsl(var(--border));
}
/* recommended home section */

.recommended-home{
    width: 30%;
     display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    cursor: pointer;
    box-shadow: 0 0 10px hsl(var(--shadow));
    transition: all 0.3s ease-in-out;
    height: 280px;
}
.recommended-home:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px hsl(var(--shadow));
    background-color: hsl(var(--primary));
}
.recommended-home .image{
    height:150px !important;
    width: 100%;
    background-image:contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important; 
    border-radius: 14px 14px 0 0;
    border: 1px solid hsl(var(--border));
    border-bottom: none;
    padding: 10px;

}
.recommended-home .image .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.recommended-home .image .info .type{
    font-size: 0.75rem;
    font-weight: 600;
    color: hsl(var(--background));
    background-color: hsl(var(--primary));
    padding: 3px 12px;
    border-radius: 15px;
    text-transform:capitalize;

}
.recommended-home .image .info .favorite{
    width: 20px;
    height: 20px;
    background-color: hsl(var(--background));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--primary));
    padding: 6px;
}

.recommended-home .description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 100%;
    background-color: hsl(var(--background));
    border-radius: 0 0 14px 14px;
    border: 1px solid hsl(var(--border));
    border-top: none;

}
.recommended-home .title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1rem;
}
.recommended-home .title-price .price{
    font-weight: 600;
    color: hsl(var(--primary));
    font-size: 0.96rem;
}
.recommended-home .title-price .title{
    font-size: 1.2rem;
}
.recommended-home .location{
    font-size: 0.89rem;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
    display: flex;
    align-items: center;
    gap: 5px;
}

.recommended-home .details .rooms{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.9rem;
    font-weight: 500;
}
.recommended-home .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recommended-home .details .available{
    font-size: 0.8rem;
    font-weight: 600;
    background-color: hsl(var(--background));
    padding: 4px 10px;
    border-radius: 15px;
    border: 1px solid hsl(var(--border));
}
.all-recommended-home{
    display: flex;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    }
.see-all{
     padding: 5px 12px;
     background-color: hsl(var(--background));
     border-radius: 10px;
     border: 1px solid hsl(var(--border));
     color: hsl(var(--foreground));
     font-size: 0.95rem;
     font-weight: 500;
     cursor: pointer;
}
.see-all:hover{
     background-color: hsl(var(--primary));
     color: white;
}
/* ===========================
    requests Section
    =========================== */
.roommate-requests{
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
     padding: 0px;
     align-items: start;
}
.roommate-requests .head{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 10px 0;
     gap: 20px;
}
.request-card{
     width: 320px;
     background-color: white;
     padding: 20px 20px;
     border-radius: 16px;
   border: 1px solid hsl(var(--border));     
     box-shadow: 0 0 10px hsl(var(--shadow));
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: fit-content;
}
     
.roommate-requests h2{
     font-size: 1.5rem;
     font-weight: 700;
      margin-bottom: 20px;

}
.roommate-requests .request-card-header{
     display: flex;
     align-items: center;
     width: 100%;
     padding: 10px 0;
     gap: 20px;
}
.request-card .request-card-header .info .school{
     font-size: 0.9rem;
     font-weight: 400;
     color: hsl(var(--muted-foreground));

}
.request-card .request-card-header .info .name{
     font-size: 1rem;
     font-weight: 600;
     color: hsl(var(--foreground));
}
.request-card .request-card-body{
     display: flex;
     flex-direction: column;
     gap: 4px;
}
.request-card .request-card-body .info {
     display: flex;
     align-items: center;
     width: 100%;
     justify-content: space-between;
}
.request-card .request-card-body .info .title{
     font-size: 0.9rem;
     font-weight: 400;
     color: hsl(var(--muted-foreground));
}
.request-card .request-card-body .info span{
     font-size: 0.9rem;
     font-weight: 400;
     color: hsl(var(--foreground));
}
.see-profile{
     padding: 6px 12px;
     background-color: hsl(var(--primary));
     border-radius: 10px;
     font-size: 0.95rem;
     font-weight: 500;
     cursor: pointer;
     text-align: center;
     color: white;
     border: 1px solid hsl(var(--primary));
}
.see-profile:hover{
     background-color: hsl(var(--primary) / 80%);
}
.requests-list{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     gap: 30px;
}
/* ===========================
    End of File
    =========================== */
/* by room67 */
