header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 20px;
}
.links .colocations,.links .homes{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 12px;
    font-size:0.875rem;
    font-weight: 400;
    cursor: pointer;
}
.links .colocations{
    color: black;
    background-color: hsl(var(--background));
    border: 1px solid hsl(var(--border));
}
.links .icon{
    width: 16px;
}
.links .colocations:hover{
    background-color: hsl(var(--primary));
    color: white;
}
.links .homes:hover{
    background-color: hsl(6deg 100% 72% / 78%);
}
.links .homes{
    color: white;
    background-color: hsl(var(--primary));
}
.info-student{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 45%;
}
.info-student *{
   margin: 0;
}
.info-student h1{
    font-size: 1.8rem;
    font-weight: 700;
}
.info-student p{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
}
.data-student{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.student-dashboard{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(var(--background));
    border-radius: 16px;
    width: 20%;
    border: 1px solid hsl(var(--border));
    align-items: center;
    height: 70px;
}
.card .content{
    display: flex;
    flex-direction: column;
    gap: -2px;
}
.card *{
    margin: 0;
}
.card .content .title{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--muted-foreground));
}
.card .content .number{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(var(--foreground));
}
.card .icon{
    width: 20px;
    padding: 8px;
    height: 20px;
    background-color: hsl(var(--secondary));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--primary));
}