@import url(../../../index.css);
.rommate-request-page .header-myrequest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.rommate-request-page .header-myrequest .title{
    font-size: 30px;
    font-weight: 700;
}
.rommate-request-page .header-myrequest .sub-title{
    font-size: 15px;
    font-weight: 400;
    color: hsl(var(--muted-foreground)) !important;
}
.rommate-request-page .header-myrequest .find-roomate{
    background-color: hsl(var(--primary));
    color: white;
    padding: 8px 15px;
    width: fit-content;
    border-radius: 12px;
    cursor: pointer;
}
.rommate-request-page .header-myrequest .find-roomate:hover{
    background-color: hsl(var(--primary)/80%);

}
/* card */
.rommate-request-page .home-details .response{
    background-color: hsl(var(--secondary));
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.rommate-request-page .home-details .response h6 , .rommate-request-page .home-details .response div{
    margin: 0;
    padding: 0;
}
.rommate-request-page .home-details .response h6{
    font-size: 14px;
    font-weight: 600;
}
 .rommate-request-page .home-details .response div{
    font-size: 15px;
 }