.title-left-nav-admin{
    font-size:  12px;
    font-weight: 600;
}
.link-left-nav-admin{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    /* color: black !important; */
    border-radius: 20px;
    padding: 8px 0px;
    font-weight: 400;    
}