/* Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 12px;
  max-width: 500px;
  margin: 100px auto;
  padding: 24px;
  position: relative;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.modal-subtitle {
  font-size: 0.95rem;
  color: #6b7280;
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.modal-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.5px solid #d1d5db; /* gris clair */
  background-color: white;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23222222' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px;
}

.modal-select:focus {
  outline: none;
  border-color: hsl(6, 100%, 72%);
}

.modal-select.error {
  border-color: red;
}

.modal-textarea {
  width: 93%;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 1rem;
  resize: vertical;
  min-height: 100px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.modal-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.modal-btn.cancel {
  background-color: #f3f4f6;
  color: #111827;
}

.modal-btn.confirm {
  background-color: #059669;
  color: white;
}
