* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* searchHouse */
.SearchContainer{
    display: flex;
    flex-direction: column;    
    background-color: #f5f8fa;
    height: 30vh;
    justify-content: center;
    align-items: start;
    padding: 110px 100px;
    gap: 30px;
}
.bar{
    display: flex;
    width: 100%;
    gap: 17px;
    background-color:white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.BigTitleSearch{
    font-size: 23px;
    text-align: start;
    font-weight: 650;
    color: rgb(52, 51, 51);
}
.searchButton{
    width: 900px;
    text-transform: none !important;
    font-size: 14px !important;
    border-radius: 12px !important;
    background-color:#ff6b5c !important;
}
.selectForm{
    border-radius: 12px !important;
}
.cityOrCampus{
    display:flex ;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 9px;
    border: 1.5px solid rgb(183, 183, 183);
    border-radius: 12px;
    width:1000px;
    gap: 8px;
    color: #b1b1b1;
}
.cityOrCampus:hover{
    border-color: #ff6b5c;
}
.cityOrCampus input{
    border: none;
    outline: none;
}
.btnFilter{
    display: none;
}
/* Properties Found */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
.PropertiesFoundContainer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding:30px 2%;
    gap: 20px;
    /* align-items: center; */
}
.filter{
    background-color: white;
    padding: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 18px;
    border-radius: 12px;
    border: 1px solid #dadada95;
}
.titleFilter{
    font-size: 20px;
    font-weight: 700;
}
.PropertiesFoundContainer label{
    font-size: 17px;
}
.resultats{
    width: 90%;
    /* background-color: #b1b1b1; */
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
}
.cardsResultats{
    /* background-color: #a61414; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 45%; */
    height: 90%;
}
.cardResultat{
    width: 31%;
    display: flex;
    flex-direction: column;
    height: 350px;
    border-radius: 12px;
    border: 1px solid rgb(212, 210, 210);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.containerPic{
    height: 50%;
    flex: 3;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* border-radius: 12px; */
}
.containerPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.descrbAndPrice{
    display: flex;
    justify-content: space-between;
}
.address{
    display: flex;
    color: rgb(107, 107, 107);
    gap: 5px;
    align-items: center;
}
.infoSupp{
    display: flex;
    justify-content: space-between;
}
.bedsAndBaths{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.heartTopRight{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f2f1f1;
    border-radius: 999px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.typeTopLeft{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fe7364;
    border-radius: 999px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: white;
    width: 74px;
    font-size: 15px;
}
.infoSectionn{
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.describ{
    font-size: 15px;
    font-weight: 700;
}
.Pprice{
    color: #fe7364;
}
.availability{
    font-size: 16px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 9999px;
    padding: 3px 10px;
}
.formControll .MuiOutlinedInput-root {
    border-radius: 16px !important;
    padding: 1px !important;
    height: 50px;
}
.formControll .MuiOutlinedInput-root:hover fieldset {
    border-color: #fe7364 !important;
}

.formControll .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #fe7364 !important;
}
.heartTopRight .css-1g494rb-MuiSvgIcon-root{
    fill : #fe7364;
}
.css-1qb8o-MuiToggleButtonGroup-root{
    gap: 7px;
}
.css-1qb8o-MuiToggleButtonGroup-root button{
    border-radius: 12px !important;
    border: 1px solid rgb(216, 216, 216) !important;
    width: 40px !important;
    height: 40px !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: 14px;
}
.css-gn0oko-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    background-color: #fe7364 !important;
    color: white !important;
}
.css-1pn9ldh-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    background-color: #fe7364 !important;
    color: white !important;
}
.css-gn0oko-MuiButtonBase-root-MuiToggleButton-root:hover{
    background-color: #ff887b !important;
    color: white !important;
}
/* Media query page annonces */
@media (max-width: 768px){
    .BigTitleSearch{
        font-size: 25px;
        text-align: center;
    }
    .bar{
        flex-direction: column;
    }
    .cityOrCampus{
        width: 100%;
    }
    .searchButton{
        width: 100%;
    }
    .SearchContainer{
        height: fit-content;
        padding: 16px 20px;
    }
    .PropertiesFoundContainer{
        flex-direction: column;
        align-items: center;
    }
    /* filter query */
    .filter{
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 70% !important;
        height: 100% !important;
        overflow-y: auto;
        border-radius: 0px !important;
    }
    .btnFilter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border: 1px solid rgb(223, 223, 223);
        width: 80%;
        border-radius: 12px;
        padding: 8px;
        font-size: 10px;
    }
    .buttonFilter{
        background-color: white;
        border: none;
        font-size: 14px;
    }
    /* properties found query */
    .top{
        padding-top: 20px;
    }
    .titlePropFound{
        text-align: start;
        width: 200px;
    }
    .formControll{
        width: 100px;
    }
    .cardResultat{
        width: 100% !important;
    }
    .pagination{
        width: 100%;
    }
    .pagination ul li{
        padding: 0px 7px;
    }
}